### Ejercicio 1:

Utilice el método print para mostrar en pantalla la siguiente
línea:

> *Hola Mundo, esta es mi primera incursión en Python*

In [7]:
print('Hola Mundo, esta es mi primera incursión en Python')

Hola Mundo, esta es mi primera incursión en Python

### Ejercicio 2: 

Ingrese una serie de datos respecto a su información
personal. Esta información debe estar ingresada en variables para su posterior uso.
Ingrese los siguientes datos:

- Su nombre.
- Edad.
- Una lista con sus 3 actividades favoritas.
- ¿Tiene mascotas?

In [12]:
print('Ingrese los siguientes datos solicitados:')
nombre = input('Su Nombre: >')
edad = input('Su Edad: > ')
actividades = input('Una lista con sus 3 actividades favoritas, separadas por coma: >')
mascota = input('¿Tiene mascotas?: >')

Ingrese los siguientes datos solicitados:
Su Nombre: >Rodrigo
Su Edad: > 29
Una lista con sus 3 actividades favoritas, separadas por coma: >Tenis,Dormir,Programar
¿Tiene mascotas?: >Si

### Ejercicio 3:

- Imprima cada variable creada: acceda al segundo elemento de su lista.
- Pida los tipos de datos asociados.
- Interpole los datos en un método print para generar una presentación sobre usted

In [16]:
lista_actividades = actividades.split(',')
lista_actividades

print(f'''Hola, mi nombre es {nombre}, tengo {edad} años, mis pasatiempos son {lista_actividades[0]},
{lista_actividades[1]} y {lista_actividades[2]}. Ademas, {mascota} tengo mascotas.''')

Hola, mi nombre es Rodrigo, tengo 29 años, mis pasatiempos son Tenis,
Dormir y Programar. Ademas, Si tengo mascotas.

### Ejercicio 4:

a continuación se presenta una serie de códigos que generan errores. Corríjalos y comente cuáles fueron las fallas.

In [ ]:
print('Estaba la pájara pinta sentada en el verde limón)

El problema acá es que falta una comilla al final de la oracion, antes del parentesis.

In [ ]:
print('Mi nombre es' name 'y tengo' edad, 'años')

El problema acá es que falta darle el formato F-string para poder visualizar el valor de variables llamadas

In [ ]:
import pandas as pd
import numpy as np

Acá no hay ningun problema, ya que las librerias se importan de manera correcta, ademas de darles la abreviatura correcta

In [ ]:
"Ornitorrinco" + 45

El problema acá es que no se pueden sumar tipos de datos diferentes. El primer valor es un string (o objecto) mientras que el segunto es un varieable de tipo entero.

### Ejercicio 5:

Utilizar pandas y numpy. Para ello, sigue los siguientes pasos.

1. Importa pandas y numpy.

In [17]:
import pandas as pd
import numpy as np

2. Posteriormente importa el archivo flights.csv.

In [19]:
df_flights = pd.read_csv('flights.csv')

3. Solicita las primeras y últimas 5 observaciones de la tabla de datos.

In [25]:
print('Primeras 5 Observaciones:')
display(df_flights.head(5))
print('\nUltimas 5 Observaciones:')
display(df_flights.tail(5))

Primeras 5 Observaciones:

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

Ultimas 5 Observaciones:

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

4. Utiliza describe para obtener las medidas univariadas de la columna year.

In [23]:
df_flights['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

5. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.

In [30]:
display(df_flights['year'].value_counts())
df_flights['month'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

February     12
May          12
July         12
April        12
September    12
December     12
June         12
October      12
November     12
August       12
January      12
March        12
Name: month, dtype: int64

6. Guarda en variables las primeras y últimas 15 observaciones de la tabla.

In [31]:
primeras_15 = df_flights.head(15)
ultimas_15 = df_flights.tail(15)

7. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros utilizando los métodos de numpy. Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados.

In [39]:
mean = np.mean(primeras_15['passengers'])
median = np.median(primeras_15['passengers'])
desv = np.std(primeras_15['passengers'])
print(f'Estadísticas para las primeras 15 observaciones: \nmedia: {mean}, \nmediana: {median} \ndesviacion estandard: {desv}')

Estadísticas para las primeras 15 observaciones:
media: 126.8,
mediana: 126.0
desviacion estandard: 12.681745410891462

In [40]:
mean = np.mean(ultimas_15['passengers'])
median = np.median(ultimas_15['passengers'])
desv = np.std(ultimas_15['passengers'])
print(f'Estadísticas para las ultimas 15 observaciones: \nmedia: {mean}, \nmediana: {median} \ndesviacion estandard: {desv}')

Estadísticas para las ultimas 15 observaciones:
media: 459.2,
mediana: 432.0
desviacion estandard: 75.29426715671431